@mixin anim-loading-strip {
    @keyframes loading-strip {
        0% {
            opacity: 0
        }
        50% {
            opacity: 1
        }
        to {
            opacity: .5;
            left: 120%;
            transform: scaleX(1.5)
        }
    }
}