$theme-1:      #012622;
$theme-2:      #2E5E5A;
$theme-3:    #EFE9F2;
$theme-4:     #ED9F3F;
$theme-5:     #773C6D;
$theme-whiteblue: #f6f8fa;

$color-light:    $theme-3;
$color-dark:    $theme-1;
$color-blue:    rgb(73,155,234);
$color-dracula: #282a36;

$themes: $theme-1 $theme-2 $theme-3 $theme-4 $theme-5;
$splash-curtain-list: $color-blue $theme-1 $theme-2 $theme-4 $theme-5;