$theme-black: rgba(1, 22, 39, 1);
$theme-white: rgba(253, 255, 252, 1);
$theme-green: rgba(46, 196, 182, 1);
$theme-red: rgba(231, 29, 54, 1);
$theme-orange: rgba(255, 159, 28, 1);
$theme-text: #666;
$theme-gray: #EEE;