@import '../_partials/_fonts.scss';
@import '../_partials/_mixins.scss';
@import '../_partials/_vars.scss';
//
.admins-screen {
	background: $theme-white;
	.admin-card {
		background: $theme-green;
		color: $theme-white;
		padding: .5rem;
		box-shadow: rgba($theme-black, .3) -2px 2px 4px;
		.admin-name {
			margin: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.info {
			margin-bottom: .5rem;
		}
		.btn {
			border-radius: none;
			background: $theme-white;
			color: $theme-green;
			opacity: .8;
			font-size: 65%;
			font-weight: bold;
			&:hover {
				opacity: 1
			}
		}
	}
	.loading-img {
		margin: auto;
	}
	>.row {
		height: 100%;
		.pane {
			height: 100%;
			overflow-y: auto;
		}
	}
}