@import '../_partials/_fonts.scss';
@import '../_partials/_mixins.scss';
@import '../_partials/_vars.scss';
@include use-raviprakesh;
//
.home-screen {
    height: 100%;
    position: relative;
    background: $theme-white;
    margin: 0 1rem;
    header {
        position: relative;
        z-index: 0;
        padding: 1rem 0 1rem 0;
        margin-bottom: 2rem;
        .logo {
            position: relative;
            width: 240px;
            height: 240px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            &:after {
                content: '';
                @include absolute-full;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                top: -5px;
                left: -5px;
                border-radius: inherit;
                background-image: linear-gradient(45deg, rgba($theme-orange, .7) 30%, rgba($theme-red, .6) 70%, rgba($theme-green, .7));
                z-index: -1;
            }
        }
        .body {
            @include vertical-align(absolute);
            width: calc(100% - 260px);
            right: 0;
            h1 {
                @include font-ravi;
                margin-bottom: .5rem;
                +.slogan {
                    margin-top: 0;
                }
            }
        }
    }
    hr {
        border-style: ridge;
        border-color: #fafafa;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 2rem;
    }
    .text-block {
        background: $theme-gray;
        padding: .5rem 1rem;
        position: relative;
        overflow: hidden;
        line-height: 1.5;
        .subtitle {
            font-weight: bold;
            display: block;
            margin-bottom: .5rem;
            text-transform: capitalize;
        }
        .info {
            color: rgba($theme-text, .7);
        }
        &:before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            border: solid thick $theme-white;
            border-radius: 50%;
            right: -16px;
            bottom: -16px;
            box-sizing: inherit;
        }
    }
}