@import '../_partials/_fonts.scss';
@import '../_partials/_mixins.scss';
@import '../_partials/_vars.scss';
//
.profile-screen {
	height: 100%;
	position: relative;
	background: $theme-white;
	h1 {
		color: $theme-orange;
	}
}