@import '../_partials/_fonts.scss';
@import '../_partials/_mixins.scss';
@import '../_partials/_vars.scss';
@include use-inconsolata;
//
.teachers-screen {
	height: 100%;
	position: relative;
	background: $theme-white;
	margin: 0 1rem;
	.no-teachers {
		@include vertical-align(absolute);
		width: 100%;
		text-align: center;
		h5 {
			margin-top: 0;
		}
	}
	.add-teacher {
		@include absolute-full;
		background: rgba($theme-white, .9);
		padding: 2rem 5%;
		animation-duration: 250ms;
		.content {
			width: 90%;
			max-width: 420px;
			margin: auto;
			background: $theme-white;
			padding: 1rem;
			box-shadow: rgba($theme-black, .3) 0px 0px 2px;
			animation-delay: .5s;
			animation-duration: .5s;
		}
	}
	.all-teachers {
		padding: 0 5%;
		height: 100%;
		.title {
			margin-top: 0;
		}
		.content {
			.section-action {
				padding-left: 6px;
			}
		}
		.teachers-list {
			max-height: 40vh;
			overflow-y: auto;
		}
	}
	li.signpost {
		background: $theme-gray;
		padding: 0 5px;
		position: relative;
		overflow: hidden;
		&:hover {
			color: $theme-green;
			background: lighten($theme-gray, 2%);
			&:before {
				transform: rotateZ(-45deg)
			}
			&:after {
				transform: rotateZ(45deg)
			}
			h5 {
				padding-left: 5px;
			}
		}
		h5 {
			margin: .8rem 0;
			overflow: hidden;
			text-overflow: ellipsis;
			transition-duration: .25s;
			white-space: nowrap;
		}
		&:before,
		&:after {
			content: '';
			background: $theme-white;
			height: 100%;
			width: 42px;
			left: 100%;
			position: absolute;
			transition-duration: .25s;
		}
		&:before {
			top: -50%;
			transform-origin: 0 100%;
		}
		&:after {
			bottom: -50%;
			transform-origin: 0 0;
		}
	}
	.teacher-details {
		padding: 0 2rem;
		header {
			.back-btn {
				width: 47px;
				height: 47px;
				margin-right: 5px;
				float: left;
				background: url(../../resx/icons/back-arrow.png) center no-repeat;
				background-size: 70%;
				opacity: .2;
				transition: opacity 250ms ease-in-out;
				&:hover {
					opacity: .8;
				}
			}
			h3 {
				margin-bottom: .5rem;
			}
			.about {
				font-size: 90%;
				display: inline-block;
				color: $theme-green;
				@include font-inconsolata;
				label+label {
					margin-left: .4rem;
				}
			}
		}
		.content {
			padding: 2rem .7rem 5px;
			&.sectionized {
				height: calc(100% - 67px);
				overflow: hidden;
				.sectionizr {
					width: 50%;
					overflow: visible !important;
					position: relative;
					&:not(.no-footer) {
						padding-bottom: 48px !important;
					}
					&:after {
						// content: '';
						background: rgba($theme-white, .9);
						top: 0;
						z-index: 1;
						width: calc(100% + .7rem);
						right: calc(-100% - .7rem);
						height: 100%;
						position: absolute;
					}
					footer {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						.prev,
						.next {
							display: block;
							opacity: .4;
							transition: opacity 250ms ease-in-out;
							width: 48px;
							height: 48px;
							background-size: 70%;
							background-repeat: no-repeat;
							background-position: center;
							&:hover {
								opacity: 1;
							}
							&.disabled {
								opacity: .1;
							}
						}
						.prev {
							float: left;
							background-image: url(../../resx/icons/long-arrow-left.png);
						}
						.next {
							float: right;
							background-image: url(../../resx/icons/long-arrow-right.png);
						}
					}
				}
			}
		}
		.assign-classteacher {
			padding-right: 1.6%;
			ul {
				position: relative;
			}
			&.assigned {
				blockquote {
					border-left-color: $theme-green;
				}
				ul {
					padding-top: 44.59px;
					position: relative;
				}
			}
			.signpost {
				background: rgba($theme-orange, .2);
				&:hover {
					&:before,
					&:after {
						display: none;
					}
				}
				+.signpost {
					margin-top: 2px;
				}
				&.active {
					background: rgba($theme-green, .2);
					&:not(.no-float) {
						position: absolute;
						width: 100%;
						top: 0;
						left: 0;
					}
				}
				&.class>div {
					overflow: hidden;
					transition: height 250ms ease-in-out;
					text-align: right;
					height: 35px;
					&:not(.shown) {
						height: 0;
					}
					.btn {
						margin: 0 0 .5rem;
						text-transform: none;
					}
				}
			}
		}
		.class-subjects>ul {
			margin-top: .5rem;
		}
		.mini-goback {
			float: left;
			padding-right: 1rem;
		}
		.teacher-not-teaching {
			line-height: 1.5;
			color: $theme-orange;
		}
	}
	.teacher-name {
		.fa:before {
			content: "\f183"
		}
		&.female {
			.fa:before {
				content: "\f182"
			}
		}
	}
}