@import '../_partials/_fonts.scss';
@import '../_partials/_mixins.scss';
@import '../_partials/_vars.scss';
@include use-inconsolata;
//
.teachers-screen {
	height: 100%;
	position: relative;
	background: $theme-white;
	margin: 0 1rem;
	.no-teachers {
		@include vertical-align(absolute);
		width: 100%;
		text-align: center;
		h5 {
			margin-top: 0;
		}
	}
	.add-teacher {
		@include absolute-full;
		background: rgba($theme-white, .9);
		padding: 2rem 5%;
		animation-duration: 250ms;
		.content {
			width: 90%;
			max-width: 420px;
			margin: auto;
			background: $theme-white;
			padding: 1rem;
			box-shadow: rgba($theme-black, .3) 0px 0px 2px;
			animation-delay: .5s;
			animation-duration: .5s;
		}
	}
	.all-teachers {
		padding: 0 5%;
		height: 100%;
		.title {
			margin-top: 0;
		}
		.content {
			label.section-action {
				text-transform: uppercase;
				font-size: small;
				font-weight: bold;
				padding-top: 1px;
			}
			.section-action {
				padding-left: 6px;
			}
		}
		.teachers-list {
			max-height: 40vh;
			overflow-y: auto;
			li {
				background: $theme-gray;
				padding: 0 5px;
				position: relative;
				overflow: hidden;
				&:hover {
					color: $theme-green;
					background: lighten($theme-gray, 2%);
					&:before {
						transform: rotateZ(-45deg)
					}
					&:after {
						transform: rotateZ(45deg)
					}
					h5 {
						padding-left: 5px;
					}
				}
				h5 {
					margin: .8rem 0;
					overflow: hidden;
					text-overflow: ellipsis;
					transition-duration: .25s;
				}
				&:before,
				&:after {
					content: '';
					background: $theme-white;
					height: 100%;
					width: 42px;
					left: 100%;
					position: absolute;
					transition-duration: .25s;
				}
				&:before {
					top: -50%;
					transform-origin: 0 100%;
				}
				&:after {
					bottom: -50%;
					transform-origin: 0 0;
				}
			}
		}
	}
	.teacher-details {
		padding: 0 2rem;
		header {
			.back-btn {
				width: 47px;
				height: 47px;
				margin-right: 5px;
				float: left;
				background: url(../../resx/icons/back-arrow.png) center no-repeat;
				background-size: 70%;
				opacity: .2;
				transition: opacity 250ms ease-in-out;
				&:hover {
					opacity: .8;
				}
			}
			h3 {
				margin-bottom: .5rem;
			}
			.about {
				font-size: 90%;
				display: inline-block;
				color: $theme-green;
				@include font-inconsolata;
				label+label {
					margin-left: .4rem;
				}
			}
		}
		.content {
			padding: 2rem .7rem 5px;
		}
	}
}