<!-- Contains the changes made by me within the school-config.html file  -->

<div class="col span_1_of_3 card">
	<h4 class="title">Grading system</h4>
	<div class="content scrollable">
		<form>
			<div>
				<span class="justify" data-bind="visible: gradingSysFieldsEmpty">Design your grading system (e.g Excellent, V.Good or A, B, C and specify corresponding scores)</span>
				<!-- ko foreach: gradingSysFields -->
				<div class="row">
					<div class="col span_2_of_3">
						<input type="text" data-bind="textInput: grade" placeholder="Grade">
					</div>
					<div class="col span_1_of_3">
						<input type="number" data-bind="textInput: score, attr: { max: maxScore}" step="5" min="5" placeholder="Score">
					</div>
				</div>
				<!-- /ko -->
			</div>
			<!-- ko ifnot: gradingSysFieldsEmpty() -->
			<small data-bind="click: popLastGradingRow"><i class="fa fa-fw fa-times"></i>Delete last row</small>
			<!-- /ko -->
			<div class="row">
				<button type="submit" class="btn btn-orange btn-shift-down col span_2_of_3" data-bind="click: addField"><i class="fa fa-fw fa-plus"></i> Add Field</button>
				<button type="submit" class="btn btn-green btn-shift-down col span_1_of_3" data-bind="click: saveGradingSys">Save</button>
			</div>
		</form>
	</div>
</div>

<!-- Line 72  -->
<select data-bind="value: sessionName, options: sessionNameList"></select>