<div class="admins-screen">

	<div class="row">
		<div class="col span_1_of_3 pane">
			<div>
				<h4 class="title">Your Profile</h4>
				<input type="text" name="name" data-bind="textInput: updateName" placeholder="Enter your (new) name">
				<input type="email" name="pwd" data-bind="value: $root.controlVm.personEmail" readonly>
				<a class="btn btn-block btn-orange" data-bind="click: updateCreds, css: {disabled: updatingProfile}">Update Info</a>
			</div>

			<div>
				<h4 class="title">Add New Admin</h4>
				<input type="text" name="name" data-bind="textInput: newName" placeholder="Admin's name">
				<input type="email" name="name" data-bind="textInput: newEmail" placeholder="Admin's email">
				<div class="pwd-box">
					<input type="password" name="pwd" data-bind="textInput: newPwd" placeholder="Choose a password">
				</div>
				<div class="pwd-box">
					<input type="password" name="pwd" data-bind="textInput: confNewPwd" placeholder="Confirm the password">
				</div>
				<a class="btn btn-block btn-orange" data-bind="click: updateCreds, css: {disabled: addingAdmin}">Add admin</a>
			</div>
		</div>

		<div class="col span_2_of_3 pane">
			<h4 class="title">All Admins</h4>
			<!-- ko ifnot: noAdmins -->
			<div class="row" data-bind="foreach: admins">
				<div class="admin-card col span_1_of_3">
					<div class="info">
						<h5 class="admin-name" data-bind="text: name"></h5>
						<small data-bind="text: email">mpdepaule1@gmail.com</small>
					</div>
					<div class="row group">
						<div class="col span_1_of_2">
							<a class="btn btn-block mini">Password</a>
						</div>
						<div class="col span_1_of_2">
							<a class="btn btn-block mini">Delete</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
			<!-- ko if: noAdmins() && !fetchingAdmins() -->
			<h5>Unable to fetch list of admins from Control Workstation</h5>
			<a class="btn mini btn-orange" data-bind="click: fetchAdmins">Try again</a>
			<!-- /ko -->
			<!-- ko if: fetchingAdmins-->
			<h5>Fetching list of admins...</h5>
			<!-- /ko -->
		</div>
	</div>
</div>