<div class="start-screen admins-screen">

	<div class="row">
		<div class="col span_1_of_3 pane">
			<form data-bind="css: {disabled: updatingProfile}">
				<h4 class="title">Your Profile</h4>
				<input type="text" name="name" data-bind="textInput: profileName" placeholder="Your name goes here">
				<input type="email" name="pwd" data-bind="textInput: profileEmail, enable: isEditEmail" placeholder="Put yout email here">
				<p class="mt0" data-bind="if: $root.controlVm.superAdmin">
					<label for="edit-email" data-tooltip="{ 'class': 'mini white' }" title="Requires internet connection">
						<input type="checkbox" data-bind="checked: isEditEmail" id="edit-email">
						<small>Edit my email too</small>
					</label>
				</p>
				<button type="submit" class="btn btn-block btn-black" data-bind="click: updateCreds">Update Info</button>
			</form>

			<form id="add-admin-form" data-bind="css: {disabled: addingAdmin}">
				<h4 class="title">Add New Admin</h4>
				<input type="text" name="name" data-bind="textInput: newName" placeholder="Admin's name">
				<input type="email" name="name" data-bind="textInput: newEmail" placeholder="Admin's email">
				<div class="input-fa pwd-box">
					<input type="password" name="pwd" data-bind="textInput: newPwd" placeholder="Choose a password">
					<i class="fa pwd-btn"></i>
				</div>
				<div class="input-fa pwd-box">
					<input type="password" name="pwd" data-bind="textInput: confNewPwd" placeholder="Confirm the password">
					<i class="fa pwd-btn"></i>
				</div>
				<button type="submit" class="btn btn-block btn-black" data-bind="click: addAdmin">Add admin</button>
			</form>
		</div>

		<div class="col span_2_of_3 pane">
			<h4 class="title">All Admins</h4>
			<!-- ko ifnot: noAdmins -->
			<div class="row" data-bind="foreach: admins">
				<div class="admin-card col span_1_of_3 animated fadeIn">
					<div class="info">
						<h4 class="admin-name" data-bind="text: name"></h4>
						<small data-bind="text: email">mpdepaule1@gmail.com</small>
					</div>
					<div class="row group">
						<div class="col span_1_of_2">
							<a class="btn btn-block mini" data-bind="click: changePwd">Password</a>
						</div>
						<div class="col span_1_of_2">
							<a class="btn btn-block mini" data-bind="click: removeMe">Delete</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
			<!-- ko if: noAdmins() && !fetchingAdmins() -->
			<h5>Unable to fetch list of admins from Control Workstation</h5>
			<a class="btn mini btn-orange" data-bind="click: fetchAdmins">Try again</a>
			<!-- /ko -->
			<!-- ko if: fetchingAdmins-->
			<h5>Fetching list of admins...</h5>
			<!-- /ko -->
		</div>
	</div>

	<!-- ko if: selectedAdmin -->
	<div class="curtain" data-bind="with: selectedAdmin">

		<div class="logon-pane">
			<div id="logon">
				<form id="add-admin-form" data-bind="css: {disabled: updatingPassword}">
					<h4 class="title">Change Password for
						<!-- ko text: name -->
						<!-- /ko -->
					</h4>
					<div class="input-fa pwd-box">
						<input type="password" name="pwd" data-bind="textInput: newPwd" placeholder="Choose a new password">
						<i class="fa pwd-btn"></i>
					</div>
					<div class="input-fa pwd-box">
						<input type="password" name="pwd" data-bind="textInput: confPwd" placeholder="Confirm the password">
						<i class="fa pwd-btn"></i>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-green col span_1_of_2" data-bind="click: doPwdUpdate">Update Password</button>
						<button type="submit" class="btn btn-orange col span_1_of_2" data-bind="click: dismiss">Dismiss</button>
					</div>
				</form>
				<!-- ko if: pwdError -->
				<div class="loading opaque">
					<div class="content">
						<div class="animated fadeInUp">
							<div data-bind="text: pwdError"></div>
							<a class="btn btn-inverse btn-shift-down" data-bind="click: function() { this.pwdError(null) }">Ok</a>
						</div>
					</div>
				</div>
				<!-- /ko -->
			</div>
		</div>
		
	</div>
	<!-- /ko -->

</div>