<div class="admins-screen">

	<div class="col-4">
		<h4 class="title">Your Profile</h4>
		<input type="text" name="name" data-bind="textInput: updateName" placeholder="Enter your (new) name">
		<div class="pwd-box">
			<input type="password" name="pwd" data-bind="textInput: updatePwd" placeholder="Enter new password">
		</div>
		<a class="btn btn-block btn-orange" data-bind="click: updateCreds, css: {disabled: loading}">Update Info</a>
	</div>

	<div class="col-8 view-admins">
		<h4 class="title">View Admins List</h4>
		<table class="table">
			<tr>
				<th>S/N</th>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
			<!-- ko foreach: adminDetails -->
			<tr>
				<td data-bind="text: $data.sn"></td>
				<td data-bind="text: $data.name"></td>
				<td data-bind="text: $data.email"></td>
				<td data-bind="text: $data.action"></td>
			</tr>
			<!-- /ko -->
		</table>
	</div>
</div>