<div class="teachers-screen sectionizr">

	<section>
		<!-- ko ifnot: connected() || (!classes().length && classesFetchFailed()) -->
		<div class="no-teachers">
			<h5>Fetching classes list, please wait</h5>
			<img src="resx/images/balls.gif" alt="Loading...">
		</div>
		<!-- /ko -->

		<!-- ko if: connected -->

		<!-- ko ifnot: classes().length -->
		<div class="no-teachers animated fadeInUp">
			<h5>No classes have been added yet</h5>
			<a class="btn btn-green" data-bind="click: addClass">Get started</a>
		</div>
		<!-- /ko -->

		<!-- ko if: classes().length -->
		<div class="all-teachers animated fadeInUp flex" data-bind="css: {disabled: loadingClasses}">
			<div class="content">
				<h4 class="title no-underline">
					All classes (<span data-bind="text: classes().length"></span>)
					<i class="fa fa-fw fa-question-circle section-action orange" data-bind="attr: {title: info}" data-tooltip="{'class': 'mini white'}"></i>
					<label class="section-action green" data-bind="click: addClass">Create new</label></h4>
				<ul class="teachers-list row scrollable" data-bind="foreach: classes">
					<li class="col span_1_of_3 signpost" data-bind="click: open, event: {contextmenu: contextmenu}">
						<h5 data-bind="text: name"></h5>
					</li>
				</ul>
			</div>
		</div>
		<!-- /ko -->

		<!-- ko if: newClass -->
		<div class="add-teacher animated fadeIn">
			<form class="content animated fadeInDown" data-bind="with: newClass,css: {disabled: newClass().$saving}">
				<h4 class="title">
					Create New Class
					<i class="fa fa-fw fa-close section-action orange animated slideInDown" title="Dismiss" data-bind="click: $parent.dismissAdd"
					    data-tooltip="{'class': 'mini white'}"></i></h4>
				<input type="text" data-bind="textInput: name" placeholder="Enter class name">
				<input type="text" data-bind="textInput: code, css: {disabled: _id}" placeholder="Enter class code, e.g. JSS1">
				<button type="submit" class="btn btn-green btn-block btn-shift-down" data-bind="click: save">Save details</button>
			</form>
		</div>
		<!-- /ko -->
		<!-- /ko -->
	</section>
	<section class="teacher-details" data-bind="with: classDetail">
		<header data-bind="with: me">
			<a data-bind="click: $parent.back" class="back-btn"></a>
			<h3 data-bind="text: name"></h3>
			<div class="about">
				<label class="uppercase">Class code: <span data-bind="text: code"></span></label>
			</div>
		</header>
		<div class="content sectionized" data-bind="css: {disabled: assigning}">
			<div class="sectionizr" data-peek>
				<section class="assign-classteacher class-subjects">
					<h4 class="title">Class Subjects</h4>
					<blockquote data-bind="css: {green: subjects[0]().length}, event: {contextmenu: ctx}">
						<span data-bind="text: subjects[0]().length? subjects[0]().length + ' subject' + (subjects[0]().length == 1?'':'s'):'No subjects'"></span>						added for this class
					</blockquote>
					<ul class="row group" data-bind="foreach: subjects[0]">
						<li class="signpost class no-float active col span_1_of_2 mt0" data-bind="click: $parent.openSubject, event: {contextmenu: $parent.subjectCtx}">
							<h5>(<span data-bind="text: code"></span>) <span data-bind="text: title"></span></h5>
							<div data-bind="css: {shown: $taught}" style="text-align: left">
								<a class="btn btn-green mini disabled">Teacher: <span data-bind="text: $teacher().name"></span></a>
							</div>
						</li>
					</ul>
					<!-- ko if: subjects[1]().length -->
					<h5>Add more subjects</h5>
					<ul class="row group" data-bind="foreach: subjects[1]">
						<li class="signpost col span_1_of_2 mt0" data-bind="click: $parent.openSubject, event: {contextmenu: $parent.subjectCtx}">
							<h5>(<span data-bind="text: code"></span>) <span data-bind="text: title"></span></h5>
						</li>
					</ul>
					<!-- /ko -->
				</section>
				<section class="assign-classteacher scrollable" data-bind="css: {assigned: selectedSubjectHasTeacher}">
					<h4 class="title">
						Attach Teacher for <span data-bind="text: selectedSubject()? selectedSubject().code:'Subject'"></span>
						<label class="section-action green mini-goback" data-bind="click: backToSubjects"><i class="fa fa-chevron-left"></i> back</label>
					</h4>
					<ul data-bind="foreach: teachers">
						<li class="signpost class" data-bind="click: $parent.assignTeacher, css: {active: $attached}">
							<h5 class="teacher-name" data-bind="css: {female: gender() == 'female'}">
								<i class="fa fa-fw"></i>
								<span data-bind="text: name"></span>
							</h5>
							<!-- ko ifnot: $attached -->
							<div data-bind="css: {shown: $selected}">
								<a class="btn btn-green mini">Assign to teach</a>
							</div>
							<!-- /ko -->
						</li>
					</ul>
				</section>
			</div>
		</div>
	</section>
</div>