<!-- ko if: $root.ROLE -->
<header class="control-header">

</header>
<footer class="control-footer">
    <ul>
        <li data-bind="text: schoolName"></li>
        <li data-tooltip="{ 'class': 'mini dark' }" title="Click to logout" data-bind="text: personName"></li>
        <li data-bind="text: $root.ROLE"></li>
        <!-- ko if: isServer -->
        <li data-tooltip="{ 'class': 'mini dark' }" data-bind="attr: { title: ipTooltip }, text: $root.serverInfo.popuReport"></li>
        <!-- /ko -->
        <!-- ko ifnot: isServer -->
        <li data-tooltip="{ 'class': 'mini dark' }" data-bind="attr: { title: ipTooltip }, text: $root.connected()? 'Connected':'Not connected'"></li>
        <!-- /ko -->
    </ul>
</footer>
<!-- ko ifnot: $root.connected -->
<div class="curtain connection-lost">
    <header class="animated fadeInDown">Connection to server lost [<span data-bind="text: disconnectionTime"></span>]</header>
</div>
<!-- /ko -->
<!-- /ko -->