<!-- ko if: $root.ROLE -->
<header class="control-header">
    <ul data-bind="foreach: menu">
        <li data-tooltip="{ 'class': 'mini green' }" data-bind="attr: {title: label}, css: {active: isActive}">
            <img alt="" data-bind="attr: {src: icon}">
        </li>
    </ul>
    <div class="loading-strip">
        <!-- ko if: $root.loading -->
        <div class="thumb"></div>
        <!-- /ko -->
    </div>
</header>
<footer class="control-footer">
    <ul>
        <li data-bind="text: schoolName"></li>
        <li data-tooltip="{ 'class': 'mini dark' }" title="Click to logout" data-bind="text: personName"></li>
        <li data-bind="text: $root.ROLE"></li>
        <!-- ko if: isServer -->
        <li data-tooltip="{ 'class': 'mini dark' }" data-bind="attr: { title: ipTooltip }, text: $root.connectionInfo().popuReport"></li>
        <!-- /ko -->
        <!-- ko ifnot: isServer -->
        <li data-tooltip="{ 'class': 'mini dark' }" data-bind="attr: { title: ipTooltip }, text: $root.connectionInfo().connected()? 'Connected':'Not connected'"></li>
        <!-- /ko -->
    </ul>
</footer>
<!-- ko ifnot: $root.connectionInfo().connected -->
<!--<div class="curtain connection-lost">
    <header class="animated fadeInDown">Connection to server lost [<span data-bind="text: disconnectionTime"></span>]</header>
</div>-->
<!-- /ko -->

<!-- ko if: $root.notifs.notifs().length > 0 -->
<div class="notifs" data-bind="with: $root.notifs">
    <!-- ko foreach: notifs -->
    <div class="notif animated" data-bind="css: { slideInRight: !leaving(), slideOutRight: leaving(), sticky: sticky }, attr: { kind: kind }">
        <span data-bind="text: msg"></span>
        <!-- ko if: sticky -->
        <div class="actions">
            <!-- ko foreach: actions -->
            <a data-bind="click: $parent.doAction, text: $data"></a>
            <!-- /ko -->
            <a data-bind="click: die">Dismiss</a>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: $root.MODE() == 'CLIENT-RECON' -->
    <div>
        <div class="reconnect-pane notif animated fadeInUp" kind="warn">
            <small>Confirm server address</small>
            <div class="input-fa">
                <input type="text" data-bind="textInput: $root.connectionInfo().ip" placeholder="Enter server address">
                <i class="fa fa-chevron-right" data-bind="click: $root.connectionInfo().doRecon"></i>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->

<!-- /ko -->