<div class="school-config-screen">

	<div class="row" data-bind="visible: uiVisible">
		<div class="col span_2_of_2">
			<div class="col span_1_of_3 card" data-mh-target data-bind="css: {disabled: uploadingLogo}">
				<h4 class="title">
					School Logo
					<span data-bind="visible: logoChanged">
						<!-- prefer visibility binding over `if` because of tooltip preservation -->
						<i class="fa fa-fw fa-upload section-action green animated slideInDown" title="Click to upload" data-bind="click: uploadLogo" data-tooltip="{'class': 'mini white'}"></i>
						<i class="fa fa-fw fa-refresh section-action orange animated slideInDown" title="Reset logo" data-bind="click: resetLogo" data-tooltip="{'class': 'mini white'}"></i>
					</span>
					<i class="fa fa-fw fa-plus section-action" data-tooltip="{'class': 'mini white'}" title="Click to edit" data-bind="click: selectLogo"></i>
				</h4>
				<div class="logo-pane">
					<img class="school-logo" alt="" data-bind="attr: {src: logo}">
				</div>
			</div>

			<div class="col span_1_of_3 card">
				<h4 class="title">School Profile</h4>
				<form class="content">
					<div>
						<label>School name</label>
						<input type="text" data-bind="textInput: schoolName" placeholder="Enter school name">
					</div>
					<div>
						<label>Motto/slogan</label>
						<input type="text" data-bind="textInput: schoolSlogan" placeholder="Enter school motto/slogan">
					</div>
					<div>
						<label>School address</label>
						<textarea data-bind="textInput: schoolAddress" placeholder="Enter school address"></textarea>
					</div>
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="display-positions-switch" data-bind="checked: schoolDisplaysPositions">
						<label class="onoffswitch-label" for="display-positions-switch">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
					<button type="submit" class="btn btn-green btn-block btn-shift-down" data-bind="click: updateProfile">Save</button>
				</form>
			</div>

			<div class="col span_1_of_3 card">
				<h4 class="title">Operations &amp; Terminology</h4>
				<div class="content">
					<form>
						<div>
							<label for="session-name">Session name</label>
							<select name="sessionName" id="session-name" class="combo-box" data-bind="options: sessions, value: selectedSession, optionCaption: 'Select a session...'">
							</select>
						</div>
						<div>
							<label for="sub-session-title">Sub-session Title</label>
							<select name="subSessionTitle" id="sub-session-title" class="combo-box" data-bind="options: subSessions, value: selectedSubSession, optionCaption: 'Select a sub session...'">
							</select>
						</div>
						<button type="submit" class="btn btn-green btn-block btn-shift-down" data-bind="click: setSession">Set Session</button>
					</form>
				</div>
			</div>

			<div class="col span_1_of_3 card">
				<h4 class="title">Assessment metrics</h4>
				<div class="content"></div>
			</div>

			<canvas id="canva" class="hidden" width="512" height="512"></canvas>
		</div>
	</div>
</div>