<div class="school-config-screen">

    <div class="row" data-bind="visible: uiVisible">
        <div class="col span_2_of_2">
            <div class="col span_1_of_3 card" data-mh-target data-bind="css: {disabled: uploadingLogo}">
                <h4 class="title">
                    School Logo
                    <!-- ko if: logoChanged -->
                    <i class="fa fa-fw fa-upload section-action green animated slideInDown" title="Click to upload" data-bind="click: uploadLogo"></i>
                    <i class="fa fa-fw fa-refresh section-action orange animated slideInDown" title="Reset logo" data-bind="click: resetLogo"></i>
                    <!-- /ko -->
                    <i class="fa fa-fw fa-plus section-action" title="Click to edit" data-bind="click: selectLogo"></i>
                </h4>
                <div class="logo-pane">
                    <img class="school-logo" alt="" data-bind="attr: {src: logo}">
                </div>
            </div>

            <div class="col span_1_of_3 card">
                <h4 class="title">School Profile</h4>
                <div class="content"></div>
            </div>

            <div class="col span_1_of_3 card">
                <h4 class="title">Operations &amp; Terminology</h4>
                <div class="content"></div>
            </div>

            <div class="col span_1_of_3 card">
                <h4 class="title">Assessment metrics</h4>
                <div class="content"></div>
            </div>

            <canvas id="canva" class="hidden" width="512" height="512"></canvas>
        </div>
    </div>
</div>