<div class="start-screen">

    <div class="select-mode animated fadeInRight">
        <div>Select how you'd like to use Digischools on this device</div>
        <br>
        <button data-tooltip="{ 'offset': 10 }" data-bind="click: serverMode, attr: {title: serverDesc}">As Server</button>
        <button data-tooltip="{ 'offset': 10 }" data-bind="click: clientMode, attr: {title: clientDesc}">As Client</button>
    </div>

    <div class="footer-watermark">
        powered by NEST
    </div>
</div>