<div class="start-screen">

    <!-- ko if: seen -->
    <!-- ko ifnot: mode -->
    <div class="select-mode">
        <div>Select how you'd like to use Digischools on this device</div>
        <div class="btn-group">
            <a data-tooltip="{}" data-bind="click: serverMode, attr: {title: serverDesc}" class="animated fadeInRight btn btn-orange">As Server</a>
            <a data-tooltip="{}" data-bind="click: clientMode, attr: {title: clientDesc}" class="anim-js fadeInRight btn btn-orange"
                data-ajs-delay="500ms">As Client</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: mode -->
    <div class="logon-pane">
        <div id="logon">
            <h2 class="title" data-bind="text: mode() == SERVER? 'Authentication':'Connection'"></h2>
            <p>
                <!-- ko if: mode() == SERVER -->Authentication credentials are necessary to start up the server. This process requires internet connection
                <!-- /ko -->
                <!-- ko if: mode() == CLIENT -->Consult with the Admin to know the server address, this address is necessary to get you connected to the
                control workstation
                <!-- /ko -->
            </p>
            <form>
                <!-- ko if: mode() == SERVER -->
                <input type="email" name="logon-email" data-bind="textInput: logonEmail" placeholder="enter logon email">
                <div class="input-fa pwd-box">
                    <input type="password" name="logon-pwd" data-bind="textInput: logonPwd" placeholder="enter logon password">
                    <i class="fa pwd-btn"></i>
                </div>
                <!-- /ko -->
                <!-- ko if: mode() == CLIENT -->
                <input type="text" name="server-ip" data-bind="textInput: serverIp" placeholder="enter server address">
                <!-- /ko -->
                <div class="row group">
                    <div class="col span_1_of_2"><button type="submit" class="btn btn-block btn-green" data-bind="click: start, text: mode() == SERVER? 'Authenticate':'Connect'"></button></div>
                    <div class="col span_1_of_2"><a class="btn btn-block btn-orange" data-bind="click: dismissLogon">Dismiss</a></div>
                </div>
            </form>
            <!-- ko if: loading -->
            <div class="loading" data-bind="css: { opaque: logonErr() || enterName() }">
                <div class="content">
                    <!-- ko ifnot: logonErr() || enterName() -->
                    <img data-bind="ifnot: logonErr" src="resx/images/balls.gif" alt="">
                    <!-- /ko -->
                    <!-- ko if: logonErr -->
                    <div class="animated fadeInUp">
                        <div data-bind="text: logonErr"></div>
                        <a class="btn btn-inverse btn-shift-down" data-bind="click: dismissLoading">Ok</a>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: enterName() && !logonErr() -->
                    <form class="animated fadeInRight">
                        <h4>Welcome, please enter your name</h4>
                        <input type="text" name="admin-name" data-bind="textInput: adminName" placeholder="put your name here">
                        <button type="submit" class="btn btn-inverse btn-shift-down" data-bind="click: finishAuth">Finalize</button>
                    </form>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->

    <div class="footer-watermark">
        powered by NEST
    </div>
</div>