<div class="teachers-screen sectionizr">

	<section>
		<!-- ko ifnot: connected() || (!subjects().length && subjectsFetchFailed()) -->
		<div class="no-teachers">
			<h5>Fetching subjects list, please wait</h5>
			<img src="resx/images/balls.gif" alt="Loading...">
		</div>
		<!-- /ko -->

		<!-- ko if: connected -->

		<!-- ko ifnot: subjects().length -->
		<div class="no-teachers animated fadeInUp">
			<h5>No subjects have been added yet</h5>
			<a class="btn btn-orange" data-bind="click: addSubject">Get started</a>
		</div>
		<!-- /ko -->

		<!-- ko if: subjects().length -->
		<div class="all-teachers animated fadeInUp flex" data-bind="css: {disabled: loadingSubjects}">
			<div class="content">
				<h4 class="title no-underline">
					All subjects
					<i class="fa fa-fw fa-question-circle section-action orange" data-bind="attr: {title: info}" data-tooltip="{'class': 'mini white'}"></i>
					<label class="section-action green" data-bind="click: addSubject">Add new</label></h4>
				<ul class="teachers-list row scrollable" data-bind="foreach: subjects">
					<li class="col span_1_of_3 signpost" data-bind="click: open, event: {contextmenu: contextmenu}">
						<h5 data-bind="text: title"></h5>
					</li>
				</ul>
			</div>
		</div>
		<!-- /ko -->

		<!-- ko if: newSubject -->
		<div class="add-teacher animated fadeIn">
			<form class="content animated fadeInDown" data-bind="with: newSubject,css: {disabled: newSubject().$saving}">
				<h4 class="title">
					Add New Subject
					<i class="fa fa-fw fa-close section-action orange animated slideInDown" title="Dismiss" data-bind="click: $parent.dismissAdd"
					    data-tooltip="{'class': 'mini white'}"></i></h4>
				<input type="text" data-bind="textInput: title" placeholder="Enter subject title">
				<input type="text" data-bind="textInput: code, css: {disabled: _id}" placeholder="Enter subject code">
				<button type="submit" class="btn btn-green btn-block btn-shift-down" data-bind="click: save">Save details</button>
			</form>
		</div>
		<!-- /ko -->
		<!-- /ko -->
	</section>
	<section class="teacher-details" data-bind="with: subjectDetail">
		<header data-bind="with: me">
			<a data-bind="click: $parent.back" class="back-btn"></a>
			<h3 data-bind="text: title"></h3>
			<div class="about">
				<label class="uppercase">Subject code: <span data-bind="text: code"></span></label>
			</div>
		</header>
		<div class="content">
			
		</div>
	</section>
</div>