<div class="teachers-screen sectionizr">

	<section>
		<!-- ko ifnot: connected() || (!teachers().length && teachersFetchFailed()) -->
		<div class="no-teachers">
			<h5>Fetching teachers list, please wait</h5>
			<img src="resx/images/balls.gif" alt="Loading...">
		</div>
		<!-- /ko -->

		<!-- ko if: connected -->

		<!-- ko ifnot: teachers().length -->
		<div class="no-teachers animated fadeInUp">
			<h5>No teachers have been added yet</h5>
			<a class="btn btn-green" data-bind="click: addTeacher">Get started</a>
		</div>
		<!-- /ko -->

		<!-- ko if: teachers().length -->
		<div class="all-teachers animated fadeInUp flex" data-bind="css: {disabled: loadingTeachers}">
			<div class="content">
				<h4 class="title no-underline">
					All teachers (<span data-bind="text: teachers().length"></span>)
					<i class="fa fa-fw fa-question-circle section-action orange" data-bind="click: addTeacher, attr: {title: info}" data-tooltip="{'class': 'mini white'}"></i>
					<label class="section-action green" data-bind="click: addTeacher">Add new</label></h4>
				<ul class="teachers-list row scrollable" data-bind="foreach: teachers">
					<li class="col span_1_of_3 signpost" data-bind="click: open, event: {contextmenu: contextmenu}">
						<h5 class="teacher-name" data-bind="css: {female: gender() == 'female'}">
							<i class="fa fa-fw"></i>
							<span data-bind="text: name"></span>
							<!-- ko if: assignedClass -->&mdash; <span data-bind="text: assignedClass"></span>
							<!-- /ko -->
						</h5>
					</li>
				</ul>
			</div>
		</div>
		<!-- /ko -->

		<!-- ko if: newTeacher -->
		<div class="add-teacher animated fadeIn">
			<form class="content animated fadeInDown" data-bind="with: newTeacher,css: {disabled: newTeacher().$saving}">
				<h4 class="title">
					<span data-bind="text: $parent.newTeacherActionName"></span>
					<i class="fa fa-fw fa-close section-action orange animated slideInDown" title="Dismiss" data-bind="click: $parent.dismissAdd"
					    data-tooltip="{'class': 'mini white'}"></i></h4>
				<input type="text" data-bind="textInput: name" placeholder="Enter teacher's name">
				<input type="text" data-bind="textInput: email, css: {disabled: _id}" placeholder="Enter teacher's email address">
				<input type="text" data-bind="textInput: phone" placeholder="Enter teacher's phone number">
				<label class="dropdown">
					<select data-bind="value: gender">
						<option value="" class="hidden">Select gender</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</label>
				<div class="input-fa pwd-box">
					<input type="password" name="pwd" data-bind="textInput: password" placeholder="Choose a new password">
					<i class="fa pwd-btn"></i>
				</div>
				<div class="input-fa pwd-box">
					<input type="password" name="pwd" data-bind="textInput: $parent.confirmPassword" placeholder="Type the password again">
					<i class="fa pwd-btn"></i>
				</div>
				<button type="submit" class="btn btn-green btn-block btn-shift-down" data-bind="click: save">Save details</button>
			</form>
		</div>
		<!-- /ko -->
		<!-- /ko -->
	</section>
	<section class="teacher-details" data-bind="with: teacherDetail">
		<header data-bind="with: me">
			<a data-bind="click: $parent.back" class="back-btn"></a>
			<h3 data-bind="text: name"></h3>
			<div class="about">
				<label><i class="fa fa-male"></i> <span data-bind="text: gender"></span></label>
				<label><i class="fa fa-fw fa-phone"></i> <span data-bind="text: phone"></span></label>
				<label><i class="fa fa-fw fa-envelope"></i> <span data-bind="text: email"></span></label>
			</div>
		</header>
		<div class="row content sectionized">
			<section class="col span_1_of_2 assign-classteacher scrollable" data-bind="css: { assigned: me.assignedClass, disabled: assigning }">
				<blockquote>
					<h4 data-bind="text: me.$assignmentInfo"></h4>
					<!-- ko if: me.assignedClass -->
					<a class="btn btn-gray mini" data-bind="click: decommission">Decommission</a>
					<!-- /ko -->
				</blockquote>
				<h5><span data-bind="text: me.assignedClass()? 'Re-assign':'Assign'"></span> as classteacher</h5>
				<ul data-bind="foreach: allClasses">
					<li class="signpost class" data-bind="click: $parent.assignClass, css: {active: code() == $parent.me.assignedClass()}">
						<h5 data-bind="text: name"></h5>
						<!-- ko if: code() != $parent.me.assignedClass() -->
						<div data-bind="css: {shown: $selected}">
							<a class="btn btn-green mini">Assign Classteacher</a>
						</div>
						<!-- /ko -->
					</li>
				</ul>
			</section>
			<section class="col span_1_of_2 scrollable">
				<blockquote data-bind="event: {contextmenu: assignmentContext}">
					<!-- ko ifnot: assignment -->
					<h4 data-bind="text: assignment() === null? 'Teaching no subject in any class':'Assigned subjects and classes not fetched'"></h4>
					<!-- /ko -->
					<!-- ko if: assignment -->
					<span data-bind="text: summary"></span>
					<!-- /ko -->
				</blockquote>
				<!-- ko ifnot: assignment -->
				<p class="justify teacher-not-teaching">You can assign this teacher to teach class subjects in the 'Manage Classes' section. Select the class, then the subject,
					then the teacher</p>
				<!-- /ko -->
				<!-- ko if: assignment -->
				<table>
					<thead>
						<tr>
							<th>Class</th>
							<th>Subject</th>
						</tr>
					</thead>
					<tbody>
						<!-- ko foreach: assignment -->
						<tr>
							<td data-bind="text: $parent.getClassName($data)"></td>
							<td data-bind="text: subject.title"></td>
						</tr>
						<!-- /ko -->
					</tbody>
				</table>
				<!-- /ko -->
			</section>
		</div>
	</section>
</div>