<div class="teachers-screen">

	<!-- Teacher list  -->
	<div class="col span_1_of_3">
		<h3 class="title">Teachers List</h3>
		<ul class="teachers-detail">
			<li class="selected">Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
			<li>Victor I. Afolabi</li>
			<li>Banjo Mofesola Paul</li>
		</ul>
	</div>

	<!-- Teacher Details  -->
	<div class="col span_2_of_3">
		<h3 class="title">Teacher details</h3>
		<div>
			Teacher details in here...
		</div>
	</div>
	
</div>